a {
    text-decoration: none;
    color: aliceblue;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8ebbff;
    height: 80px; /* Povecano da bi imali vise prostora za navigaciju */
    padding: 30px;
}

.header-title {
    font-size: 30px;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-title img {
  height: auto;
  margin-left: 10px;
  margin-right: 4px;
  vertical-align: middle;
  width: 50px; 
}

.title-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.header-username {
    font-size: 18px;
    color: aliceblue;
}

.header-content {
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Centriranje navigacije */
}

.header-nav {
    display: flex;
    gap: 30px; /* Razmak između linkova */
    align-items: center;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    transition: color 0.3s ease; /* Glatki prelaz boje */
}

.nav-link:hover {
    color: #f02c00; /* #f0a500 Osvetljenje pri hoveru */
}

.nav-link:active {
    color: #c57d00; /* Osvetljenje pri kliku */
}
