<div class="header">
    <div class="header-title">
        <img src="assets/images/logo.png" alt="logo" />
        <div class="title-text">
            <a href="/main">Incident<br />Management<br />System</a>
        </div>
    </div>
    <div class="header-content" *ngIf="userEmail">
        <nav class="header-nav">
            <a href="/main" class="nav-link">Main</a>
            <a href="/moderator" class="nav-link">Moderator Page</a>
            <a href="/analytics" class="nav-link">Analytics</a>
            <a href="/detection" class="nav-link">Alerts</a>
        </nav>
    </div>
    <div class="header-username">
        <!-- <a class="nav-link" href="http://localhost:8083/oauth2/authorization/google">Login</a> -->
        <ng-container *ngIf="userEmail; else loginBlock">
            <!-- <a class="nav-link">{{ userEmail }}</a> -->
             <div class="username-container">
                <span class="user-email">{{ userEmail }}</span>
                <a class="nav-link" (click)="logout()">Log out</a>
            </div>
        </ng-container>

        <ng-template #loginBlock>
            <a class="nav-link" (click)="login()">Login</a>
        </ng-template>
    </div>
</div>
